body{
	text-align: center;
	background-color: #F6E7DE /* TF2 light tan */
	/*-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;*/
}

table,tr,td {
	border: 1px solid black;
	padding: 10px;
}

table.tblcenter {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

td.tdcenter{
	text-align: center;
	padding: 10px;
}

td.tdblue{
	background: rgba(91,122,140,0.8); /* TF2 med blue */
	padding: 10px;
}

td.tdred{
	background: rgba(189,58,58,0.8);
	padding: 10px;
}

#return {
	clear: both;
	font-size: 100%;
	text-align: center;
	bottom: 0;
	height: 30px;
}