body.bdcenter {
	text-align: center;/*
	background-color: #FFFFFF
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;*/
}

table.center {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}