body.bdcenter {
	text-align: center;
	background-color: #5B7A8C /* TF2 med blue */
	/*-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;*/
}

table,tr,td {
	border: 1px solid black;
}

table.tblcenter {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

td.tdcenter{
	text-align: center;
	padding: 10px;
}