<html>
<head>
	<title>Complex Queries - Awesome TF2 Data Scanner</title>
	<link rel="stylesheet" type="text/css" href="/static/styling.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
		$("#class_submit").click(function(){
			$.ajax({
				type: "POST",
				url: "/complex_query/",
				data: {cls:document.getElementById("class").value},
				success: function(){
				//$("#testing").html(result);
				$("#test").html("something happened");
			}});
		});
	});
	</script>
</head>
<body class="bdcenter">
	<table class="center">
		<tr><td>
			Here you can find our more complex queries.  Select a query below:<br>
		</td></tr>
		<tr><td>
		Average DPM of players in the highest divisions of all leagues<br>
		<!-- dropdown of class for selection and submit button -->
		<select name="class" id="class">
			<option value="scout">Scout</option>
			<option value="soldier">Soldier</option>
			<option value="pyro">Pyro</option>
			<option value="demoman">Demoman</option>
			<option value="heavy">Heavy</option>
			<option value="engineer">Engineer</option>
			<option value="medic">Medic</option>
			<option value="sniper">Sniper</option>
			<option value="spy">Spy</option>
		</select>
		<button id="class_submit">Submit</button>
		<div id="test"></div>
		<!-- Render Results Table -->
		{% if data %}
		Data exists!  {{data|length}}
		<br>{{data}}
		{% endif %}
		{% if data|length != 0 %}
		<table>
		<tr><td>League</td><td>Average DPM</td></tr>
		{% for n in data %}
		<tr><td>{{n.league}}</td><td>{{n.val}}</td></tr>
		{% endfor %}
		</table>
		{% endif %}
		</td></tr>
	</table>
</body>
</html>
