<html>
<head>
	<title>Format Comparison - Awesome TF2 Data Scanner</title>
	<link rel="stylesheet" type="text/css" href="/static/styling.css" />
	
</head>
<body>
	<table class="tblcenter">
		<tr><td class="tdcenter"><h1>Team Fortress 2 Data Scanner</h1>
		<br></td></tr>
		<tr><td>
			Compare performance between formats <br>
		<form method="post">
		<select name="cls" id="class">
			<option value="scout">Scout</option>
			<option value="soldier">Soldier</option>
			<option value="pyro">Pyro</option>
			<option value="demoman">Demoman</option>
			<option value="heavy">Heavy</option>
			<option value="engineer">Engineer</option>
			<option value="medic">Medic</option>
			<option value="sniper">Sniper</option>
			<option value="spy">Spy</option>
		</select>
		<button id="class_submit">Submit</button>
		</form>
		
		<!-- Results table -->
		{{
		{% if formatlist|length!=0 %}
			<table>
			{% if formatlist[0].avg_hpm %}
				<!--<tr><td>Format</td><td>Average Heals Per Min</td><td>Average Ubers/Drops</td></tr>-->
				<tr><td colspan="3">Medic Performance by Format</td></tr>
				{% for n in formatlist %}
					<tr><td>{{n.format}}</td><td>{{n.avg_hpm}}</td><td>{{n.avg_udrate}}</td></tr>
				{% endfor %}
			{% else %}
				
				<tr><td>{{formatlist}}</td></tr>
			{% endif %}
			</table>
		{% endif %}
		</td></tr>
	</table>
	<br><br><div id="return"><a href="/">Back to index</a></div>
</body>
</html>