<html>
<head>
	<title>General Queries - Awesome TF2 Data Scanner</title>
	
</head>
<body class="bdcenter">
	<form method="post">
		Query for: 
		<select name="entity" id="entity">
			<option value="player">Players</option>
			<option value="team">Teams</option>
		</select>
		<br>
		Attribute: 
		<select name="attr" id="attr">
			<option value="name">Name</option>
			<option value="id">ID</option>
		</select>
		<input type="text" name="attr_val" id="attr_val"/>
		<button id="submit">Submit</button>
		<br><br>
	</form>
	
	<!-- RESULTS BELOW -->
	<table>
	{% for n in data %}
	<tr><td>{{n.name}}</td></tr>
	{% endfor %}
	</table>
</body>
</html>