<html>
<head>
	<title>General Queries - Awesome TF2 Data Scanner</title>
	<link rel="stylesheet" type="text/css" href="/static/styling.css" />
</head>
<body>
	<form method="post">
		Query for: 
		<select name="entity">
			<option value="player">Players</option>
			<option value="team">Teams</option>
		</select>
		<br>
		Attribute: 
		<select name="attr">
			<option value="name">Name</option>
			<option value="id">ID</option>
		</select>
		<input type="text" name="attr_val" />
		<input type="submit" value="Submit" />
	<form>
	<br><br>
	<a href="general_query.html">Clean Up</a>
	
	<!-- RESULTS BELOW -->
	<table>
	{% for n in data %}
	<tr><td>{{n.name}}</td></tr>
	{% endfor %}
	</table>
</body>
</html>