<html>
<head>
	<title>Awesome TF2 Data Scanner</title>
	<link rel="stylesheet" type="text/css" href="/static/styling.css" />
	<!-- TEST JAVASCRIPT HERE -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
		$("button").click(function(){
			$.ajax({
				type: "POST",
				url: "/test/",
				data: "plzworkplz",
				//{txt:"lalalalalalalala"},
				//document.getElementById("user_input").value},
				success: function(result){
				$("#testing").html(result);
			}});
		});
	});
	</script>
</head>
<body>
	<table class="center">
	<tr>
		<td><a href="/general_query">General Case</a></td>
		<td>Comparisons</td>
	</tr>
	</table>
	<br><br>
	<!-- TESTING THINGS BELOW -->
	<div id="testing">
		BOXBOXBOX: <input type="text" id="user_input" />
	</div>
	<button>Click</button>
</body>
</html>
