<html>
<head>
	<title>Awesome TF2 Data Scanner</title>
	<link rel="stylesheet" type="text/css" href="/static/styling.css" />
</head>

<body>
	<!-- On-Page Header -->
	<table class="tblcenter" style="width:80%;">
	<tr class="content"><td class="titlepage" colspan="2">
		<h1>Team Fortress 2 Data Scanner</h1>
	</td></tr>
	
	<!-- Options -->
	<tr class="content">
		<td class="tdblue" style="text-align: center;width:50%;">
			<h2>General Case</h2>
		</td>
		<td class="tdred" style="text-align: center;width:50%;">
			<h2>Comparisons and Complex Queries</h2>
		</td>
	</tr>
	<tr class="content">
		<td class="tdblue">Make simple searches
			<ul>
				<li><a href="/player_stats">Players</a> - Look up player stats and compare them side by side</li>
				<li><a href="/team_query">Teams</a> - Look up teams and their players and stats</li>
				<li><a href="/division_query">Leagues and Division</a> - Get a listing of recorded teams in a league and division</li>
			</ul>
		</td>
		<td class="tdred">
			For more involved searches, such as aggregated stats comparisons.<br>
			<ul>
				<li><a href="/complex_query/league_compare">Compare league averages</a></li>
				<li><a href="/complex_query/format_compare">Compare performance between formats</a></li>
				<li><a href="/complex_query/correlation">Correlation between damage and/or heal output</a></li>
			</ul>
		</td>
	</tr>
	</table>
	<br><br>
</body>
</html>
