<html>
<head>
	<title>Player Stats - Awesome TF2 Data Scanner</title>
	<link rel="stylesheet" type="text/css" href="/static/styling.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
		console.log("ready script read");
		$("#submit").click(function(){
			console.log("submit button clicked");
			$.ajax({
				type: "POST",
				url: "/player_stats/",
				data: {attr:document.getElementById("attr").value,
					   attr_val:document.getElementById("attr_val").value},
				dataType: "json",
				success: function(stats){
					//var returnTextOrig = document.getElementById("results").innerHTML;
					var returnText = document.getElementById("results").innerHTML;
					var errorText = "";
					//var formText = "";
					returnText += JSON.stringify(stats) + "<br>"; // for debugging
					if(stats.data.length>0){
						/*if(returnTextOrig==""){
							returnText+=stats.data.length+"<table>";
							console.log("starting from scratch");
						}
						else {
							returnText=returnText.substring(0,returnText.length-8); // truncate closing table tag
						}*/
						for(i=0;i<stats.data.length;i++){
							console.log(stats.data[i].class);
							if(stats.data[i].class=="medic"){ // display first, include HealsPerMin, Ubers, and Drops
								returnText+="<tr class=\"trcenter\"><td>Name</td><td>Class</td><td>Kills</td><td>Assists</td><td>Deaths</td><td>KA/D</td><td>HPM</td><td>Ubers</td><td>Drops</td><td>U/D</td></tr>";
								var row=stats.data[i];
								returnText+="<tr class=\"trright\"><td class=\"tdleft\">";
								returnText+=row.name+"</td><td>";
								returnText+=row.class+"</td><td>";
								returnText+=row.kills+"</td><td>";
								returnText+=row.assists+"</td><td>";
								returnText+=row.deaths+"</td><td>";
								returnText+=row.kad+"</td><td>";
								returnText+=row.healspermin+"</td><td>";
								returnText+=row.ubers+"</td><td>";
								returnText+=row.drops+"</td><td>";
								returnText+=row.ubers/row.drops+"</td></tr>";
							}
						} // close medic stat display loop
						
						returnText+="<tr class=\"trcenter\"><td>Name</td><td>Class</td><td>Kills</td><td>Assists</td><td>Deaths</td><td>KA/D</td><td>DPM</td></tr>";
						for(i=0;i<stats.data.length;i++){
							var row=stats.data[i];
							if(row.class!="medic"){ // show DPM, hide ubers and drops
								//if(returnTextOrig==""){
									returnText+="<tr class=\"trright\"><td class=\"tdleft\">";
								//}
								returnText+=row.name+"</td><td>";
								returnText+=row.class+"</td><td>";
								returnText+=row.kills+"</td><td>";
								returnText+=row.assists+"</td><td>";
								returnText+=row.deaths+"</td><td>";
								returnText+=row.kad+"</td><td>";
								returnText+=row.damagepermin+"</td></tr>";
							}
						} // close stat display loop
						returnText+="</table>";
						returnText+="Add another player: "
					} // close non-empty stat display
					else{
						errorText+="Error: a player with that name/ID was not found";
					}
					$("#results").html(returnText);
					$("#error").html(errorText);
				}
			});
		});
	});
	</script>
</head>
<body>
	<table class="tblcenter">
		<tr><td class="tdcenter"><h1>Team Fortress 2 Data Scanner</h1>
		<br></td></tr>
		
		<tr><td><h2>Search for Players</h2></td></tr>
		<tr><td>
			<table><div id="results"><!-- search results go here --></div></table><br>
			<div id="error"><!-- error messages go here --></div>
			<div id="form">
				<select name="attr" id="attr">
					<option value="name">Name</option>
					<option value="id">Steam3ID</option>
				</select>
				<input type="text" name="attr_val" id="attr_val"/>
				<button id="submit">Submit</button>
			</div>
		</td></tr>
		<tr><td><a href="/player_stats">Clear all</a></td></tr>
	</table>
	<br><br><div id="return"><a href="/">Back to index</a></div>
</body>
</html>