<html>
<head>
	<title>Player Stats - Awesome TF2 Data Scanner</title>
	<link rel="stylesheet" type="text/css" href="/static/styling.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
		$("#submit").click(function(){
			$.ajax({
				type: "POST",
				url: "/player_stats/",
				data: {attr:document.getElementById("attr").value,
					   attr_val:document.getElementById("attr_val").value},
				dataType: "json",
				success: function(stats){
					var medOrig = document.getElementById("medresults").innerHTML;
					var nonMedOrig = document.getElementById("nonmedresults").innerHTML;
					var medText = medOrig;
					var nonMedText = nonMedOrig;
					var errorText = "";
					if(stats.data.length>0){
						for(i=0;i<stats.data.length;i++){
							if(stats.data[i].class=="medic"){ // display first, include HealsPerMin, Ubers, and Drops
								if(medOrig.length==0){
									medText+="<tr class=\"trheading\"><td>Name</td><td>Class</td><td>Kills</td><td>Assists</td><td>Deaths</td><td><span title=\"(Kills+Assists)/Deaths\">KA/D</span></td><td><span title=\"Heals Per Minute\">HPM</span></td><td>Ubers</td><td>Drops</td><td><span title=\"Ubers/Drops\">U/D</span></td></tr>";
								}
								var row=stats.data[i];
								medText+="<tr class=\"trright\"><td class=\"tdleft\">";
								medText+=row.name+"</td><td>";
								medText+=row.class+"</td><td>";
								medText+=row.kills+"</td><td>";
								medText+=row.assists+"</td><td>";
								medText+=row.deaths+"</td><td>";
								medText+=row.kad+"</td><td>";
								medText+=row.healspermin+"</td><td>";
								medText+=row.ubers+"</td><td>";
								medText+=row.drops+"</td><td>";
								medText+=(row.ubers/row.drops).toFixed(1)+"</td></tr>";
							}
						} // close medic stat display loop
						
						for(i=0;i<stats.data.length;i++){
							var row=stats.data[i];
							if(row.class!="medic"){ // show DPM, hide ubers and drops
								if(nonMedOrig.length==0){
									nonMedText+="<tr class=\"trheading\"><td>Name</td><td>Class</td><td>Kills</td><td>Assists</td><td>Deaths</td><td><span title=\"(Kills+Assists)/Deaths\">KA/D</span></td><td><span title=\"Damage Per Minute\">DPM</span></td></tr>";
								}
								
								nonMedText+="<tr class=\"trright\"><td class=\"tdleft\">";
						
								nonMedText+=row.name+"</td><td>";
								nonMedText+=row.class+"</td><td>";
								nonMedText+=row.kills+"</td><td>";
								nonMedText+=row.assists+"</td><td>";
								nonMedText+=row.deaths+"</td><td>";
								nonMedText+=row.kad+"</td><td>";
								nonMedText+=row.damagepermin+"</td></tr>";
							}
						} // close stat display loop
					} // close non-empty stat display
					else{
						errorText+="Error: a player with that name/ID was not found<br><br>";
					}
					$("#medresults").html(medText);
					$("#nonmedresults").html(nonMedText);
					$("#error").html(errorText);
				}
			});
		});
	});
	</script>
</head>
<body>
	<table class="tblcontentblu">
		<tr class="content"><td class="tdcenter"><h1>Team Fortress 2 Data Scanner</h1>
		<br></td></tr>
		
		<tr class="content"><td><h2>Search for Players</h2></td></tr>
		<tr class="content"><td class="tdcenter">
			<table class="resultsblu" id="medresults"></table>
			<table class="resultsblu" id="nonmedresults"></table><br>
			<div id="error"><!-- error messages go here --></div>
			<div id="form">
				Add a player to view: &nbsp;&nbsp;<select name="attr" id="attr">
					<option value="name">Name</option>
					<option value="id">Steam3ID</option>
				</select>
				<input type="text" name="attr_val" id="attr_val" value="" onfocus="script:if(this.value!='') this.value=''" />
				<button id="submit">Submit</button>
			</div>
		</td></tr>
		<tr class="content"><td class="tdcenter"><a href="/player_stats">Clear all players</a></td></tr>
	</table>
	<br><br><div id="return"><a href="/">Back to index</a></div>
</body>
</html>
